Package: com.dylanduff.bwl
Name: BatteryWidgetLabels
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Dylan Duff
Author: Dylan Duff
Section: Tweaks
